body{
  background:url(https://i.redd.it/y5mzeig307b41.png);
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  Font-weight: normal;
  text-align: center;
}

li {
  list-style: none;
  margin-bottom: 1em;
  line-height: 2em;

}

input{
  background-color: #abffd6;
  border-color: #5ADBC5;
}
#sendButton{
  background:url(https://i.imgur.com/GafopQL.png);
  width: 126px;
  height: 28px;
  border: none;
  background-size: cover;
  text-align: center;
}

#mainForm{
  background:url(https://i.imgur.com/LdJrONL.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin-left: 28%;
  margin-top: 1px;
  width: 600px;

}